.layout {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background: #f6f6f6;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background: #f6f6f6;
    position: relative;
}

.main {
    flex: 1;
    min-width: 0;
    background: #fff;
    overflow-y: auto;
    padding: 60px 50px 32px 32px; /* trên, phải, dưới, trái */
}
